In [4]:
import pandas as pd
import numpy as np

In [6]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(data,index=labels)

#### Q11. Select the rows where the animal is a cat and the age is less than 3.

In [7]:
df[(df['animal']=='cat') & (df['age']<3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

#### Q12. Select the rows the age is between 2 and 4 (inclusive).

In [9]:
df[df['age'].between(2,4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

#### Q13. Change the age in row 'f' to 1.5.

In [10]:
df.loc['f','age']=1.5

In [15]:
df.loc['f']

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

#### Q14. Calculate the sum of all visits (the total number of visits).

In [16]:
df['visits'].sum()

19

#### Q15. Calculate the mean age for each different animal in df.

In [17]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

#### Q16. Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.

In [28]:
df.loc['k']=['Monkey',3.7,5,'yes']

In [29]:
df

   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c   snake  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g   snake  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no
k  Monkey  3.7       5      yes

In [30]:
df=df.drop('k')
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

#### Q17. Count the number of each type of animal in df.

In [31]:
df.animal.value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

#### Q18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.

In [32]:
df.sort_values(by=['age','visits'],ascending=[False,True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

#### Q19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [33]:
df['priority']=df['priority'].map({'yes':'True','no':'False'})

In [34]:
df

  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  1.5       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

#### Q20. In the 'animal' column, change the 'snake' entries to 'python'.

In [36]:
df['animal']=df['animal'].replace('snake','python')

In [37]:
df

   animal  age  visits priority
a     cat  2.5       1     True
b     cat  3.0       3     True
c  python  0.5       2    False
d     dog  NaN       3     True
e     dog  5.0       2    False
f     cat  1.5       3    False
g  python  4.5       1    False
h     cat  NaN       1     True
i     dog  7.0       2    False
j     dog  3.0       1    False